body, html {
  height: 100%;
  background-color: $background-body;
}
a {
  color: $link-color;
  &:hover {
    text-decoration: none;
    color: $font-white;
  }
}
.no-margin {
  margin: 0 !important;
}
.pull-right {
  float: right;
}
tbody {
  text-align: center;
}
.tab-pane {
  margin-top: 20px;
}


/*
 * Loading
 */

.overlay {
  font-size: 50px;
  padding-top: 10%;
  text-align: center;
}

/*
 * Error Alert
 */

.alert-danger {
  background-color: $aler-danger !important;
  color: $font-white;
}

/*
 * Button Return
 */

.button-return a{
  font-size: 21px;
  &:hover {
    color: $button-return-hover;
  }
}

/*
 * Pagination
 */

.pagination-sm > li > a{
  cursor: pointer;
}

/*
 * Footer
 */

.footer {
  position: fixed;
  padding: 0.5em;
  bottom: 0;
  width: 100%;
  background-color: $background-footer;
  color: $font-white;
  text-align: center;
}
