/*
 *  Header
 */

.main-header {
  position: relative;
  max-height: 100px;
  z-index: 1030;
  .navbar {
    margin-left: 230px;
    border: none;
    min-height: 50px;
    border-radius: 0;
  }
  .logo {
    display: block;
    float: left;
    height: 70px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 230px;
    padding: 0 15px;
    font-weight: 300;
    overflow: hidden;
  }
}
.navbar {
  background-color: $background-navbar;
}
.logo-name {
  padding-top: 8px;
}
.logo {
  background-color: $background-logo;
  color: $font-white;
  border-bottom: 0 solid transparent;
  &:hover,
  &:focus {
    text-decoration: none;
    color: $font-white;
    background-color: $background-logo-focus;
  }
}
