/*
 * Survey Details
 */

.survey-detail{
  padding-bottom: 20px;
}
.survey-detail-header {
  padding: 20px;
  height: 120px;
  background-color: $background-survey-detail;
}
.survey-detail-name {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 25px;
  padding-left: 35px;
  color: $font-white;
}
.survey-detail-body {
  position: absolute;
  top: 65px;
  left: 50%;
  margin-left: -45px;
}
.survey-detail-rate {
  width: 100px;
  height: 100px;
  border: 3px solid $font-white;
  border-radius: 50%;
  text-align: center;
  background-color: $background-survey-rate;
  color: $font-survey-rate;
  .detail-rate {
    // margin-top: 23px;
    margin-left: 10px;
  }
  .detail-rate-name {
    font-weight: 200;
  }
  .participation-rate{
    font-size: 12px;
    text-align: center;
  }
}
.survey-detail-footer {
  padding-top: 10px;
  padding-bottom: 50px;
  background-color: $background-white;
  text-align: center;
  .survey-detail-info {
    border-right: 1px solid $border-survey-detail;
  }
}
.icon-detail {
  font-size: 70px;
  text-align: center;
  color: rgba(0,0,0,0.15);
}

/*
 * Themes
 */

.nav-tabs-custom > {
  .nav-tabs > li {
    border-top: 3px solid transparent;
  }
  .nav-tabs > li:not(.active) > a:hover {
    background-color: transparent;
    border-color: transparent;
    color: $color-tabs-theme;
    border-bottom-color: $border-tabs-theme;
  }
}
.nav-tabs-custom {
  background: $background-white;
  > .nav-tabs > li.active {
   border-top-color: $border-top-tabs;
  }
}
.nav-tabs-justified > li > a {
  border-radius: 0;
}

/*
 * Questions
 */

.box-question {
  background: $background-white;
  border-top: 3px solid $border-top-question;
  padding-bottom: 50px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
 }
.box-question-header,
.box-question-body{
  padding: 10px;
  border-bottom: 2px solid $border-bottom-question;
}
.question-description{
  color: $question-description;
  font-size: 16px;
}
.box-question-header {
  padding-bottom: 10px;
}

/*
 * Responses
 */

.responses-table-header th{
  text-align: center;
}
.rating-stars {
  color: $rating-start-background;
}
.response-info {
  width: 80px;
}

/*
 * Average
 */

.box-average {
   padding-bottom: 10px;
}
.box-average-star {
  height: 40px;
  width: 45px;
  font-size: 20px;
  color: $font-white;
  background-color: $background-average-star;
  padding-top: 6px;
}
.box-average-info {
  height: 40px;
  width: 70px;
  background-color: $background-average-info;
  text-align: center;
  font-size: 18px;
  padding-top: 7px;
}
