$font-color-white: #fff;
$background-color-white: #fff;
$background-color-headfoot: #3a6a86;
$background-color-body: #f6f6f6;
$background-color-logo: #367fa9;
$background-color-panel: #00a65a;
$background-color-survey-detail: #b33622;
$background-color-survey-rate: #ededed;
$font-color-survey-rate: #000;
$color-tabs: #e64d4d;
$background-tabs-theme: #ddd;
