$font-white: #fff;
$background-white: $font-white;
$background-navbar: #3a6a86;
$background-footer: $background-navbar;
$background-body: #f6f6f6;
$background-logo: #367fa9;
$background-logo-focus: $background-logo;
$background-panel: #00a65a;
$background-survey-detail: #b33622;
$background-survey-rate: #ededed;
$font-survey-rate: #000;
$color-tabs: #e64d4d;
$border-top-tabs: $color-tabs;
$color-tabs-theme: #ddd;
$border-tabs-theme: $color-tabs-theme;
$link-color: #555;
$aler-danger: #dd4b39;
$border-bottom-question: #f4f4f4;
$border-top-question: #ccc;
$question-description: #f39c12;
$rating-start-background: #3bb60f;
$button-return-hover: $background-panel;
$border-survey-rate: $background-white;
$border-survey-detail: $background-survey-rate;
$background-average-star: $question-description;
$background-average-info: $background-survey-rate;
